// Font that will be used throughout.
$font-family-base: 'Roboto', sans-serif;

// bootstrap to identify font location
$icon-font-path: "../fonts/";
// font-awesome to identify font location
$fa-font-path: "../fonts";
